body{
background-color: #4d774e;
margin: 0%;
}
h1{
margin: 0%;
    background-color: #9dc88d;
    padding: 20px 5px;
}
#ser{
padding: 0px 5px 20px 5px;
    background-color: #9dc88d;
}

#imgflex{
    padding-top:10px ;
    display: flex;
   

    flex-wrap: wrap;
   

    flex-direction: row;
    
}

img{
    padding: 5px 15px;
}



button{
    background-color: #164a41;
    color: aliceblue;
    padding-bottom: 3px;
}